@MasterPageFile("Master.cshtml")
@GetValue("Title(Content page)")
@GetValue("Description(Content page)")


@Include("Custom/HeaderImage.cshtml")	
<div class="white-box white-box-content">
	<div class="container">
		<div class="col-xs-12">
			<div class="row">
									
				<h1>@GetGlobalValue("Global:Page.Name")</h1>
				
              	@*<div class="row dwcontent" id="contentTop" title="Content before NAV"></div>  *@

                <div class="col-md-3">
                <div class="nav nav-pills" id="secondNavigation">
             @if(GetString("DwPageID") == "488"){
                	<ul class="dwnavigation" id="navpills1" data-settings="template:TabsSecondary.xslt;startlevel:3;endlevel:3;expandmode:All"></ul>} else {<ul class="dwnavigation" id="navpills" data-settings="template:Tabs.xslt;startlevel:2;endlevel:5;expandmode:Path"></ul>} 
                </div>
                </div>
                <div class="col-md-8">
				<div class="row dwcontent" id="maincontent" title="Content area"></div> 
				</div>
              	
			</div>	
		</div>
	</div>
</div>

