
@{
string title = GetString("Item.ParagraphName");
string term = GetString("Item.Term.Value");
string description = GetString("Item.Description.Value");
}

<div class="col-md-12 products-list"> 
    <p class="text-left"><strong>@term</strong></p>
	<p class="description">@description</p>	
          
</div>