
  <div class="row">
   <div class="col-md-12 text-center">

       @if(Pageview.User == null) {             
              
              <div class="btn btn-primary"><b>Please login <a href="Default.aspx?ID=532">here</a> to access the files</b></div>              

            }
    
    </div>
  </div>
