<div class="search-result">
  	<!--@Translate(yourSearch, "Your search for")--> '<!--@DwSearchPhrase-->' <!--@Translate(gave, "gave")--> <!--@DwSearchResults--> <!--@Translate(results, "results")-->. <!--@Translate(showingPage, "Showing page")--> <!--@DwSearchResultPage--> <!--@Translate(of, "of")--> <!--@DwSearchResultPages-->.
	<!--@DwSearchResultList-->
</div>


<div align=right><!--@DwSearchResultBack-->&nbsp;&nbsp;<!--@DwSearchResultPageList-->&nbsp;&nbsp;<!--@DwSearchResultForward--></div>