
<div class="login-pane">
    <!--@If(UserManagement:User.Login.Action=Recovery)-->
    <p>
        <!--@Translate(getback, "Get back into your account")--><br />
        <!--@Translate(weCanHelp, "We can help you reset your password and security info. First, fill all fields bellow")-->
    </p>

    <form method="post" action="/Default.aspx?id=<!--@Global:Page.ID-->">
        <input type="hidden" name="ForgotPasswordMailTemplate" value="<!--@UserManagement:User.Login.EmailTemplate-->" />
        <input type="hidden" name="ForgotPasswordSenderEmail" value="<!--@UserManagement:User.Login.EmailSender-->" />
        <input type="hidden" name="ForgotPasswordMailSubject" value="<!--@UserManagement:User.Login.EmailSubject-->" />
        <!--@If(UserManagement:User.Login.FoundUsersCount=0 || UserManagement:User.Login.FoundUsersCount>1)-->
        <div class="info-pane error"><!--@Translate(userNotFound, "User not found!")--> </div>
        <!--@EndIf-->
        <!--@LoopStart(UserManagement:User.Login.Fields)-->
        <div class="pr-field">
            <label class="title" for="<!--@Field.Name-->">
                <!--@Field.Title-->:
            </label>
            <!--@Field.Input-->
            <!--@If Defined(Field.Error)-->
            <label class="error" for="<!--@Field.Name-->"><!--@Field.Error--></label>
            <!--@EndIf-->
        </div>
        <!--@LoopEnd(UserManagement:User.Login.Fields)-->
        <div class="pr-field commands">
            <button type="submit" name="LoginAction" value="Recovery" class="btn btn-primary"><!--@Translate(submit, "Submit")--></button>
        </div>
    </form>
    <!--@EndIf-->

    <!--@If(UserManagement:User.Login.Action=PasswordSent)-->
    <div class="info-pane">
        <div class="title"><!--@Translate(congratulations, "Congratulations!")--></div>
        <div class="body">
            <!--@Translate(checkYourEmail, "Check your email, we sent your password to email.")-->
        </div>
    </div>
    <!--@EndIf-->
</div>