<div class="col-md-12">
	<div class="row">
		<div class="col-md-12">
          <br><br>
		<p>Thank you for your time and information! We will be in contact with you as soon as possible. Have a nice day!</p><br><br>				
		</div>	
	</div>	
	<div class="row">		
		<div class="col-sm-offset-10 col-md-2">
			Dorot Team
		</div>
	</div>
	<div class="row">		
		<div class="col-sm-offset-5 col-md-2">
			<div class="btn btn-primary">
			<a href="Default.aspx?ID=251">Back to Homepage</a>
			</div>
		</div>
	</div>
</div>