<ul class="country-mobile">  
    <li class="dw-navbar-button hasChildren">
      <a class="dropdown-toggle hasChildren" data-hover="dropdown" data-close-others="true" href="javascript:void(0);">@Translate("globalSites", "Global sites") <span></span></a>
      @* <ul class="M1">
        <li><a href="#" target="_blank">@Translate("corporate", "Corporate")<span></span></a></li>
        <li><a href="#" target="_blank">@Translate("canada", "Canada")<span></span></a></li>
      </ul> *@
    </li>	
</ul> 