<ul>  
	  <li>
        <a href="#" class="global-sites">@Translate("globalSites","Global sites") @* <i class="fa fa-caret-down" aria-hidden="true"></i> *@</a>
        @* <ul class="dropdown-menu">
	       <li><a href="#" target="_blank">@Translate("corporate", "Corporate")<span></span></a></li>
	       <li><a href="#" target="_blank">@Translate("canada", "Canada")<span></span></a></li>
	    </ul> *@
      </li>	
</ul> 