@using Dynamicweb.Content;
@using Dynamicweb.Extensibility;
@{
    IEnumerable<Page> pages = Dynamicweb.Extensibility.ServiceLocator.Current.GetPageService().GetPagesByParentID(Pageview.Page.ID);
}
@if (pages.Any()){
<div class="col-md-12 products-list">
    @foreach (var page in pages.Where(x=>x.ItemType != "Product_Item")){
    var pageTitle = page.MenuText;
    var pageID = page.ID;
    var pageLink = "/Default.aspx?ID=" + pageID;
  string pageItemType = page.ItemType;
   
        <div class="product-item col-md-4 col-xs-12">                
            <h3 class="name">
                <a href="@pageLink">
                @pageTitle - @pageItemType
                </a>
            </h3>
            @*
        	<a href="@pageLink">
                <img class="img-responsive" src="/Admin/Public/GetImage.ashx?Image=/Files/Images/Dorot/Products/Fire Protection Applications/Dorot-FP-68-DE-EL.jpg&amp;Width=250&amp;Height=250&amp;altFmImage_path=/Files/Images/alternativeImage.png&amp;Crop=1" alt="DE\EL - ELECTRICALLY ACTUATED REMOTE RESET DELUGE VALVE 2/2 SOLENOID">
            </a>
            *@
            <a class="btn btn-primary" href="@pageLink">Read more</a>      
        </div> 
    }
</div>
}