<h2>Dear Administrator</h2><br /><br />
<p>An account has been created with this email: @GetValue("UserManagement:User.Email")</p>
<p> and this username: @GetValue("UserManagement:User.UserName")</p><br />
<p>But has not yet been approved</p>