<h2>Dear @GetValue("UserManagement:User.UserName")</h2><br /><br />

<p>Thank you for signing up to keep in touch with Dorot Control Valves.</p>
<p>In less than 24 hours an activation email will be sent to your email address and you will have access all data from Dorot Control Valves.</p>
<p>If you want to send us a message, please write us at: office@dorot.com and we will get back to you as soon as possible.</p><br /><br />
<p>Best regards,</p><br /><br />
<p>Dorot Team</p>
<p><img alt="" src="https://www.dorot.com/Files/Images/logo.png" style="height:58px; width:100px"/></p><br /><br />
<p>Stay in touch with the latest news from Dorot Control Valves</p>
<p>Follows us on:</p>
<p>FB icon - link: <a target="_blank" href="https://www.facebook.com/dorot.controlvalves/">https://www.facebook.com/dorot.controlvalves/</a></p>
<p>LinkedIN Icon: <a target="_blank" href="https://www.linkedin.com/company/676100/">https://www.linkedin.com/company/676100/</a></p>



@* <p>An account has been created with this email: @GetValue("UserManagement:User.Email")</p>
<p> and this username: @GetValue("UserManagement:User.UserName")</p><br />
<p>But has not yet been approved</p> *@